<button
  [class]="'card ' + themeClass()"
  [class.face-up]="faceUp()"
  [class.face-down]="!faceUp()"
  [class.selected]="selected()"
  [class.own-card]="ownCard()"
  [class.revealed]="revealed()"
  [disabled]="disabled()"
  (click)="clicked.emit()"
>
  @if (faceUp() && card(); as c) {
    <span class="card-value" [class.suit-red]="suitColor(c.suit) === 'suit-red'" [class.suit-black]="suitColor(c.suit) === 'suit-black'">
      {{ c.value }}
    </span>
    <span class="card-suit" [class.suit-red]="suitColor(c.suit) === 'suit-red'" [class.suit-black]="suitColor(c.suit) === 'suit-black'">
      {{ suitSymbol(c.suit) }}
    </span>
  } @else if (!faceUp()) {
    <span class="card-back">🂠</span>
    @if (ownCard()) {
      <span class="own-dot"></span>
    }
  }
</button>
